/*User stick note*/
h3.sticky_title {  
  margin-top: 12px;
  margin-bottom: 11px;
}

span.sticky_info_row {
  display: block;
  line-height: 23px;
}

label.row-element {
  font-weight: bold;
}

label.row-element.more-detail{
  color: #ff0000;
}

.customize-text_editor{
    font-size: 16px;
    font-weight: bold;    
}

.customize-text_editor_desc a {
  background-color: #0089BD;
  padding: 4px;
  color: #fff;
  border-radius: 7px;
  margin: 2px 0;
  display: inline-block;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
}
.customize-text_editor_desc a:hover {
  background-color: #fff;
  color: #0089BD;
}
.customize-text_editor_desc span {  
  padding: 2px;
  margin: 0;
  display: inline-block;
}

.customize-text_editor_desc .upgrade-pro{
  color: #FFF !important;
  font-size: 12px;
  line-height: 1;  
  text-align: center;
  width: 90%;
  margin-top: 10px;  
}

#accordion-section-theme_info{
    color: #0089BD;
}

.control-section-pro-section .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 700;
	margin-left: 8px;
  background: #f89300;
  color: #fff;
  border-color: #f89300;
  padding: 0 20px 1px;
}

.control-section-pro-section .accordion-section-title .button:hover,
.control-section-pro-section .accordion-section-title .button:focus{
  background: #dc8200;
  border-color: #dc8200;
}

.rtl .control-section-pro-section .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/**
* Admin Style
*/
.clearfix:after, .clearfix:before{ 
    display : table; content:"";
}
.clearfix:after{ 
    clear : both;
}
.clearfix{*zoom:1}

.float-left{
    float:left;
}
.bold-label{
    font-weight:bold;
}
.input_label{
    padding: 5px 6px 0 0;
}
.below_row_input select{
    width: 400px;
}
.below_row_input input{
    width:500px;
} 

/** Radio Image Button */
.page-meta-box.form-table td{
  padding: 5px;
}

.f13{
  font-size: 13px !important; 
  line-height: 16px
}

.radio-image-wrapper{
  margin-right: 25px; 
  float: left;
}

.hide-radio{
  position: relative;
  margin-bottom: 6px;
}

.hide-radio img, .hide-radio label{
  display: block;
}

.hide-radio input[type="radio"]{
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
}

.hide-radio input[type=radio] + label {
  border: 3px solid #F1F1F1;
}

.hide-radio input[type=radio]:checked + label {
  border: 3px solid #CCC;
}
/** Radio Image Button Ends */

/** Widget Media Upload */
.rara-screenshot{
    margin-top: 5px;
}
.widget-upload{
    position: relative;
    margin-bottom: 10px;
}
.widget-upload img{
    border:1px solid #CCC;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget-upload .rara-remove-image {
    background: url("../../images/ico-delete.png");
    bottom: 4px;
    display: block;
    float: left;
    height: 16px;
    left: -4px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
    cursor: pointer;
}
.widget-upload img{ 
    max-width: 100%;
}
/** Widget Media Upload Ends */

/** Widget Icon Text */
.rara-font-awesome-list{
    margin-bottom: 10px 
}
.rara-font-awesome-list ul{
    text-align: center; 
    height: 300px; 
    overflow-y:scroll; 
    position: relative; 
    border:1px solid #EEE; 
    margin: 0
}
.rara-font-awesome-list li{
    width:60px;
    height: 60px; 
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}
.rara-font-awesome-list li:hover, 
.rara-font-awesome-list li.selected{
  background: #F6F6F6;
}
.rara-font-awesome-list li .fa{
  font-size: 32px;
  line-height: 60px;
  color:#000;
  display: block;
}
.icon-receiver {
    background: none repeat scroll 0 0 #f6f6f6;
    display: block;
    font-size: 32px;
    text-align: center;
}
.icon-receiver .fa{
    margin: 10px;
}
.rara-remove-icon{
    background: url("../../images/ico-delete.png");
    bottom: 4px;
    display: block;
    float: left;
    height: 16px;
    left: -4px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
    cursor: pointer;
}

.widget-content p{position: relative;}
/** Widget Icon Text Ends */

/** Demo Import */
.demo-loading{
  background-image: url('../../images/demoload.gif');
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  margin-top: 20px;
}

#demo_import {
  background: #F8B016;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid #45c267;
}

#demo_import:hover {
  color: #EEEEEE;
}

.import-message {
  margin-top: 12px;
  border: 1px solid #BEBEBE;
  padding: 10px;
}

.import-success{
  color: green;
  font-weight: bold;
}

.demo-wrap {
    margin-top: 10px;
}
