.customize-control-description ul li{
	padding-left: 20px;
	position: relative;
	font-size: 15px;
	line-height: 20px;
}

.customize-control-description ul li:after{
	content: '\f00c';
	font-family: 'FontAwesome';
	position: absolute;
	top: 3px;
	left: 0;
	font-size: 12px;
}

#sub-accordion-section-theme_info .customize-control-title{
	font-size: 16px;
	margin-bottom: 10px;
}