/*
Theme Name: Preschool and Kindergarten Pro

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right_to_Left_Language_Support

*/


body {
	direction: rtl;
	unicode-bidi: embed;
}

.header-t .contact-info,
.header-t .contact-info li,
.header-t .widget_rttk_social_links ul li,
.site-branding,
.main-navigation li,
.banner .banner-text .text-holder,
.banner .banner-text .btn-enroll,
.welcome .img-holder,
.welcome .text-holder,
.welcome .text-holder .btn-more,
.section-2 .col,
.section-3 .text-holder,
.section-3 .img-holder,
.section-3 .text-holder .btn-detail,
.latest-events .col,
.featured .col,
.our-staff .col,
.photo-gallery .holder span,
.news .post,
.contact-section .holder .text,
.contact-section .holder .map-holder,
.about-page .services .widget_preschool_and_kindergarten_pro_icon_text_widget,
.services-page .widget_preschool_and_kindergarten_pro_icon_text_widget,
.services-page .widget_preschool_and_kindergarten_pro_icon_text_widget,
.contact-page .left,
.contact-page .right,
#primary .post .btn-readmore,
.search #primary .page .btn-readmore,
.pagination a,
.pagination .current,
.pagination .dots,
.rttk_flickr_widget .rttk_flickr_widget-row a,
.widget_rttk_pro_instagram_widget ul li,
.widget_search .search-form label{
	float: right;
}

.header-t .widget_rttk_social_links,
.main-navigation,
.photo-gallery .holder .btn-view,
.widget_search .search-form input[type="submit"]{
	float: left;
}

.header-t .contact-info li{
	margin-right: 0;
	margin-left: 38px;
}

.header-t .widget_rttk_social_links ul li{
	margin: 0 21px 3px 0
}

.header-t .widget_rttk_social_links ul li:first-child{margin-right: 0;}

.main-navigation{margin: 21px 0 0 9px;}

.main-navigation li{
	margin-left: 0;
	margin-right: 48px;
}

.main-navigation ul li:first-child{
	margin-right: 0;
}

.main-navigation ul ul{
	left: 0;
	text-align: left;
}

.main-navigation ul ul ul{
	left: auto;
	right: -100%;
}

.section-3 ul li{
	float: right;
    padding-left: 15px;
    padding-right: 60px;
}

.section-3 ul li:before,
.latest-events .col .img-holder .date-holder{
	left: auto;
	right: 0;
}

.testimonial-section .text-holder .header{text-align: right;}

.news .post .posted-on{
	float: right;
	margin-right: 0;
	margin-left: 30px;
}

.contact-section .holder .text .text-holder address,
.contact-section .holder .text .text-holder .tel-link,
.contact-section .holder .text .text-holder .email-link{
	padding-left: 0;
	padding-right: 50px;
}

.contact-section .holder .text .text-holder address:before,
.contact-section .holder .text .text-holder .tel-link::before,
.contact-section .holder .text .text-holder .email-link:before{
	left: auto;
	right: 15px;
}

.contact-section .holder .text .text-holder .tel-link strong,
.contact-section .holder .text .text-holder .email-link strong{
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

.about-page .intro .img-holder{
	float: left;
	margin-right: 0;
	margin-left: 65px;
}

.services-page .widget_preschool_and_kindergarten_pro_icon_text_widget .style3 .img-holder{
	float: right;
	margin-left: 16px;
	margin-right: 0;
}

.contact-page .right .contact-info .address .icon-holder,
.contact-page .right .contact-info .phone .icon-holder,
.contact-page .right .contact-info .email .icon-holder{
	float: right;
	margin-left: 30px;
	margin-right: 0;
}

.contact-page .left form{text-align: right;}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea{
	text-align: right;
}

.widget.widget_kindergarten_latest_posts ul li .post-thumbnail,
.widget.widget_rttk_pro_category_post ul li .post-thumbnail,
.widget.widget_rttk_pro_author_post ul li .post-thumbnail,
.widget.widget_rttk_pro_popular_post ul li .post-thumbnail,
.widget.widget_rttk_pro_recent_post ul li .post-thumbnail{
	float: right;
	margin-left: 19px;
	margin-right: 0;
}

.widget.widget_rttk_social_links ul li{
	float: right;
	margin: 0 0 6px 6px;
}

.widget ul li{
	padding-right: 17px;
	padding-left: 0;
}

.widget ul li:before{
	left: auto;
	right: 0;
	content: '\f104';
}

#primary .post .entry-content ul,
#primary .page .entry-content ul{
	margin: 0 15px 30px 0; 
}

ol{
	padding: 0 20px 0 0;
}

.widget.widget_tag_cloud .tagcloud a{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}